[Oo]bj/
[Bb]in/
*.user
*.suo
*.userprefs
*.sln.docstates
.vs/
Bee1001/.idea/.idea.Bee1001/.idea/indexLayout.xml
Bee1001/.idea/.idea.Bee1001/.idea/vcs.xml
Bee1017/.idea/.idea.Bee1017/.idea/vcs.xml
Bee1017/.idea/.idea.Bee1017/.idea/indexLayout.xml
Bee1017/.idea/.idea.Bee1017/.idea/.gitignore
Bee1017/global.json
Bee1017/Bee1017.sln
Bee1010/.idea/.idea.Bee1010/.idea/vcs.xml
Bee1010/.idea/.idea.Bee1010/.idea/indexLayout.xml
Bee1009/.idea/.idea.Bee1009/.idea/vcs.xml
Bee1009/.idea/.idea.Bee1009/.idea/indexLayout.xml
Bee1009/global.json
Bee1008/.idea/.idea.Bee1008/.idea/vcs.xml
Bee1008/.idea/.idea.Bee1008/.idea/indexLayout.xml
Bee1006/.idea/.idea.Bee1006/.idea/vcs.xml
Bee1006/.idea/.idea.Bee1006/.idea/indexLayout.xml
Bee1006/Bee1006.sln
Bee1006/global.json
Bee1005/.idea/.idea.Bee1005/.idea/indexLayout.xml
Bee1005/.idea/.idea.Bee1005/.idea/vcs.xml
Bee1005/global.json
Bee1005/Bee1005.sln
Bee1010/.idea/.idea.Bee1010/.idea/.gitignore
Bee1009/.idea/.idea.Bee1009/.idea/.gitignore
Bee1008/.idea/.idea.Bee1008/.idea/.gitignore
Bee1006/.idea/.idea.Bee1006/.idea/.gitignore
Bee1005/.idea/.idea.Bee1005/.idea/.gitignore
Bee1001/.idea/.idea.Bee1001/.idea/.gitignore
